:root {
  --primary-color: #9da0ec;
  --secondary-color: #f6a6f7;
  --tertiary-color: #c374ff;

  --padding-sm: 12px;
  --padding-md: 22px;
  --padding-lg: 34px;

  --font-sm: 15px;
  --font-md: 24px;
  --font-lg: 36px;
}

/*mobile*/
body {
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

Header {
  background: white;
  padding: var(--padding-sm);
}

header h1 {
  background: var(--primary-color);
  padding: var(--padding-sm);
  text-align: left;
  font-size: 25px;
  color: white;
}

.card {
  text-align: left;
  padding: var(--padding-sm);
}

.card img {
  width: 200px;
}
.card-content {
  font-size: var(--font-sm);
}
.card-content h2 {
  font-size: var(--font-sm);
}
.card-content p {
  font-size: var(--font-sm);
}
.card-content button {
  padding: 10px;
  background: var(--primary-color);
  text-align: center;
  border: none;
  border-radius: 10%;
  font-weight: bold;
  color: white;
}
.card-content button:hover {
  background: var(--secondary-color);
}

/*tablet*/

@media (min-width: 768px) {
  header h1 {
    background: var(--secondary-color);
    padding: var(--padding-md);
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .card {
    text-align: center;
    padding: var(--padding-md);
  }

  .card img {
    width: 300px;
  }
  .card-content {
    font-size: var(--font-md);
  }
  .card-content h2 {
    font-size: var(--font-md);
  }
  .card-content p {
    font-size: var(--font-md);
  }
  .card-content button {
    padding: 10px;
    background: var(--secondary-color);
    text-align: center;
    border: none;
    border-radius: 10%;
    font-weight: bold;
    color: white;
  }
  .card-content button:hover {
    background: var(--tertiary-color);
  }
}

/*desktop*/

@media (min-width: 1024px) {
  header h1 {
    background: var(--tertiary-color);
    padding: var(--padding-lg);
    text-align: center;
    font-size: 40px;
    color: white;
  }
  .card {
    text-align: center;
    padding: var(--padding-lg);
  }

  .card img {
    width: 400px;
  }
  .card-content {
    font-size: var(--font-lg);
  }
  .card-content h2 {
    font-size: var(--font-md);
  }
  .card-content p {
    font-size: var(--font-lg);
  }
  .card-content button {
    padding: 10px;
    background: var(--tertiary-color);
    text-align: center;
    border: none;
    border-radius: 10%;
    font-weight: bold;
    color: white;
  }
  .card-content button:hover {
    background: var(--primary-color);
  }
}
