:root {
  --primary-color: #476895;
  --secondary-color: ##10292e;
  --border-color: #e2eafd;
  --border-width: 1px;
  --button-background-color: #5881ad;
  --button-text-color: #ffff;
  --button-hover-background-color: #2d4a72;
  --button-padding: 10px 20px;
  --card-padding-mobile: 15px;
  --card-padding-desktop: 30px;
  --card-border-radius: 10px;
  --card-margin: 20px;
  --card-width-desktop: 450px;
  --card-width-mobile: 300px;
  --heading-font-size-mobile: 24px;
  --heading-font-size-desktop: 36px;
  --paragraph-font-size: 16px;
  --image-width: 100%;
}

.card {
  width: var(--card-width-desktop);
  border: 1px solid var(--border-color);
  padding: var(--card-padding-desktop);
  margin: var(--card-margin);
  border-radius: var(--card-border-radius);
}

h2 {
  font-size: var(--heading-font-size-desktop);
}

p {
  font-size: var(--paragraph-font-size);
}
img {
  width: var(--image-width);
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
}

button:hover {
  background: var(--button-hover-background-color);
}

@media (max-width: 768px) {
  .card {
    padding: var(--card-padding-mobile);
    width: var(--card-width-mobile);
    h2 {
      font-size: var(--heading-font-size-mobile);
    }
  }
}
