body {
  background-color: #dfe6f0;
  font-family: Arial, sans-serif;
}

aside {
  background-color: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h3 {
  color: #60748f;
}

h5 {
  color: #7f96b5;
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.4;
}
