.card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 40px;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  background: black;
  color: white;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
  }
}
